{% extends 'login/base.html' %}
{% block content %}

<head>

</head>

<body>
    <h1>File Details</h1>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <p><strong>Status: </strong>
                {% if status == "INPROGRESS" %}
                        IN PROGRESS
                        {% else %}
                            {{ status }}
                        {% endif %}
                </p>
                <p><strong>File Name: </strong>
                {% if "RESOLVED_" in file_name %}
                    <a href="{% url 'login:file_detail' file_name %}" class="file-link">{{ file_name|slice:"13:" }}</a>
                    {% elif "NEW_" in file_name %}
                    <a href="{% url 'login:file_detail' file_name %}" class="file-link">{{ file_name|slice:"4:" }}</a>
                    {% else %}
                    <a href="{% url 'login:file_detail' file_name %}" class="file-link">{{ file_name|slice:"9:" }}</a>
                    {% endif %}
                </p>
                <p><strong>Report Explanation: </strong>{{ report_explanation }}</p>
                 {% if "RESOLVED" in status %}
                                <strong>Report Resolve Notes:</strong>
                                <p class="card-text {% if report_resolve_notes == 'No report resolve notes provided' %} custom-text-color {% endif %}">
                                    {{ report_resolve_notes }}
                                </p>
                            {% else %}
                                <form id="file-upload-form" method="post" enctype="multipart/form-data"
                                    action="{% url 'login:resolve_report_submit' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="resolveNotes">Type something for resolve notes (optional):</label>
                                        <textarea class="form-control" id="resolveNotes" name="resolveNotes" rows="4"
                                            cols="50"></textarea>
                                    </div>
                                    <input type="hidden" name="file_name" value="{{ file_name }}">
                                    <br><br>
                                    <button type="submit" class="btn btn-primary">Resolve Report</button>
                                </form>
                            {% endif %}
            </div>
        </div>
    </div>
    <a href="{% url 'login:list_files' %}?file_name={{ file_name }}&status={{ status }}&report_explanation={{ report_explanation }}&report_resolve_notes={{ report_resolve_notes }}" class="btn btn-primary">Back to Files List</a>


</body>
{% endblock %}
