{% extends 'login/base.html' %}
{% block content %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File List</title>
</head>

<body>
    <h1>Files in S3 Bucket</h1>
    <ul>
        {% for file_name in file_names %}
        <li><a href="{% url 'login:file_detail' file_name %}">{{ file_name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'login:admin_home' %}" class="btn btn-primary">Return Home</a>
</body>

{% endblock %}