{% extends 'login/base.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }}'s Submitted Reports</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <style>
        .report-block {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
        }
        .report-block p {
            margin-bottom: 10px;
        }
        .file-link {
            display: block;
            margin-bottom: 5px;
        }
    </style>
</head>

<body>
    <h1>{{ username }}'s Submitted Reports</h1>
    {% if file_data %}
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    {% for file_name, report_explanation in file_data %}
                        <div class="report-block">
                            <p class="card-text {% if report_explanation == 'No report explanation provided' %} custom-text-color {% endif %}"><strong>
                                    Report Explanation:</strong> {{ report_explanation }}</p>
                            <p><strong>Files:</strong></p>
                            <a href="{% url 'login:file_detail' file_name %}" class="file-link">{{ file_name }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <p>No reports submitted by this user.</p>
    {% endif %}
    <a href="{% url 'login:auth_home' %}" class="btn btn-primary">Return Home</a>
</body>
{% endblock %}
